version: 2.1
orbs:
  azure-cli: circleci/azure-cli@1.2.2

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
      - checkout
      - run:
          name: "Build API"
          command: dotnet build

  test:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
      - checkout
      - run: |
          dotnet test --logger 'trx;LogFileName=TestResults.trx'
      - store_test_results:
          path: rpg-v2_tests/TestResults/TestResults.trx

  build-dockerhub:
    docker:
      - image: cimg/base:2022.06
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - checkout
      - run: |
          docker build -t braght/cyber-api .
      - run: |
         echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
      - run: |
          docker push braght/cyber-api

  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - azure-cli/install
      - azure-cli/login-with-user:
          azure-password: AZURE_PASSWORD
          azure-username: AZURE_LOGIN

workflows:
  build-test-release:
    jobs:
      - build
      - example-job:
          context: AZURE
      - test:
          requires:
            - build
      - build-dockerhub:
          context: DOCKER
          requires:
            - test
