version: 2.1

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
      - checkout
      - run:
          name: "Build API"
          command: dotnet build

  test:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
      - checkout
      - run: |
          dotnet test --logger 'trx;LogFileName=TestResults.trx'
      - store_test_results:
          path: rpg-v2_tests/TestResults/TestResults.trx

  build-docker:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
        - checkout
        - run: |
            docker build -t cyber-api .

workflows:
  say-hello-workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - build-docker:
          requires:
            - test
